.FieldInfo{
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
}
.h1
{
    text-align: center;
}